.AboutContainer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(54, 254, 9, 0.608);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}