.aboutContainer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: mediumspringgreen;
    background-image: url(/src/components/assets/Night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 180%;
    font-size: 20px;
    padding: 7%;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: 15%;
}