.inpt{
    border-radius: 5px;
    box-shadow: 0 5px 2px #f58686;
    margin-left: 5px;
    border: 3px solid rgb(255, 0, 115);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(77, 0, 77);
    width: 200px;
    height: 30px;
}

.btnAdd{
    width: 50px;
    height: 30px;
    justify-content: center;
    border-radius: 500px;
    font-weight: bold;
    color: rgb(77, 0, 77);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid rgb(255, 0, 115);
    box-shadow: 0 5px 2px #f58686;
}