.containerNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 208%;
    background-image: url(/src/components/assets/tipo-rick-y-morty.jpg);
    background-size: 420px;
    background-position: center;
    background-repeat: repeat;
    height: 17vh;
    margin-left: 6%;
    margin-bottom: 5%;
}

.btnAb{
    color: #ffffff;
    margin: 12px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-radius: 3px;
    border: 4px solid rgb(255, 124, 183);
    box-shadow: 0 7px 4px #494a4a;
}

.btnFav{
    color: #ffffff;
    margin: 12px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-radius: 3px;
    border: 4px solid rgb(255, 124, 183);
    box-shadow: 0 7px 4px #494a4a;
}
.btnHome{
    color: #ffffff;
    margin: 12px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-radius: 3px;
    border: 4px solid rgb(255, 124, 183);
    box-shadow: 0 7px 4px #494a4a;
}