.containerNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 211vh;
    background-image: url(/src/components/assets/banner_rym.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 17vh;
    margin-left: 2%;
    margin-bottom: 3%;
    margin-right: 2%;
}

.btnNav{
   position: relative;
   display: inline-block;
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btnNav:hover{
    background: #72f355;
    box-shadow: 0 0 10px #72f355, 0 0 40px #72f355, 0 0 80px #72f355;
}